Lab_3/RssReader/Connected Services/RssReaderServiceReference/RssReader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59585/rssreader/RssReader.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" />
  <xs:element name="LoadFeedFromUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFeedFromUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" minOccurs="0" name="LoadFeedFromUrlResult" nillable="true" type="q1:Rss20FeedFormatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>